<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
    <title>Add Project</title>
</head>
<body>
<!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid pe-5 ps-5">
          <a class="navbar-brand me-5" href="/"><img src="/public/assets/logo.png" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active me-3" aria-current="page" href='/'>Home</a>
              </li>
              {{#if isLogin}}
              <li class="nav-item">
                <a class="nav-link active fw-bold" aria-current="page" href='add-project'>Add Project</a>
              </li>
              {{/if}}
            </ul>
            {{#if isLogin}}
          <span class='user-name me-2'>
            {{user.name}}
          </span>    |
          <a href='/logout' class='me-4 text-decoration-none fw-bold text-dark ms-2'>Logout</a>
        {{else}}
          <a href='/register' class='me-4 text-decoration-none  text-dark'>Register</a>
          <a href='/login' class=' me-4 text-decoration-none fw-bold  text-dark'>Login</a>
        {{/if}}
          
            <a class="btn btn-dark" type="submit" href='contact-me'>Contact Me</a>
          </div>
        </div>
      </nav>
<!-- end navbar -->
<!-- Form -->
    <div
    class="container-form-project d-flex justify-content-center align-items-center pt-5">
    <form  action='/login' method='POST'>
        <div class="h3 text-center mb-5 mt-5 fw-bold">LOGIN TO YOUR ACCOUNT</div>
         {{#if messages.success}}
          <div class='alert alert-success' role='alert'>
            {{messages.success}}
          </div>
        {{/if}}
        {{#if messages.error}}
          <div class='alert alert-danger' role='alert'>
            {{messages.error}}
          </div>
        {{/if}}
        <div class="mb-3">
        <label for="input-title" class="form-label">Email</label>
        <input
            type="email"
            class="form-control "
            id="input-title"
            placeholder="Write here ..."
            name="email"
        />
        </div>
        <div class="mb-3">
        <label for="input-title" class="form-label">Password</label>
        <input
            type="password"
            class="form-control "
            id="input-title"
            placeholder="Write here ..."
            name="password"
        />
        </div>
        <div class="d-flex justify-content-end mt-5">
        <button type="submit"  class="btn btn-dark">submit</button>
        </div>
    </form>
    </div>
<!-- End Form -->
   
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
    ></script>
</body>
</html>